.Search-container {
  display: flex;
  justify-content: center;
}

.Search-bar-container {
  position: relative;
  width: 40vw;
  height: 4vh;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(255, 165, 0)
}

.Submit-container {
  background-color: rgb(255, 165, 0);
  width: 5vh;
}

.Song-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
  gap: 2vh;
}