.Song {
  position: relative;
  width: 500px;
  height: 25vh;
  background-color: rgb(255, 165, 0);
  margin-bottom: 30px;
}

.Song:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.content {
  overflow-wrap: break-word;
  text-decoration: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  width: 45vh;
  height: 8vh;
  text-align: center;
  margin-right: 50px;
}

.img {
  margin-right: 5px;
  align-items: center;
}

.content p {
  text-decoration: none;
}

.Song-submit-container {
  background-color: rgb(255, 165, 0);
}